body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 40px;
}

h1 {
  color: #333;
  margin-bottom: 25px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #414141;
  color: #ffffff;
}

img {
  border-radius: 6px;
  height: 80px;
}

audio {
  width: 180px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
